{% extends 'base.html' %}

{% block title %}

<title>Lets begin</title> {% endblock %}
{% block content %}
<div class="description" style="background-color:lightblue; padding:20px;">
<h2 style="color:darkblue;">Places-remember</h2>
<h3 style="color:darkblue;">Это веб-приложение представляет собой сервис для хранения впечатлений о посещённых местах.</h3>
<h3 style="color:darkblue;">Пользователи могут авторизироваться со своей учётной записью Вконтакте и вести свой список мест, которые они посетили.</h3>
<h3 style="color:darkblue;">Это поможет им отслеживать свои путешествия и делиться своими рекомендациями с друзьями.</h3>
</div>
{% endblock %}