{% extends 'base.html' %}

{% block title %}
  Профиль
{% endblock %}

{% block content %}
    <a href="{% url 'create_feedback' %}" class="btn btn-primary">Добавить воспоминание</a>
    {% if feedbacks %}
        <p>Твои воспоминания:</p>
        {% for feedback in feedbacks %}
            <p>{{ feedback.title }} - {{ feedback.comment }} - {{ feedback.latitude }} - {{ feedback.longitude }}</p>
        {% endfor %}
    {% else %}
        <p>У вас нет ни одного воспоминания</p>
    {% endif %}
{% endblock %}