{% extends 'base.html' %}

{% block title %}
  Профиль
{% endblock %}

{% block content %}
    <a href="{% url 'create_feedback' %}" class="btn btn-primary">Добавить воспоминание</a>

    {% if feedbacks %}
        <h2>Твои воспоминания:</h2>
        <ul>
        {% for feedback in feedbacks %}
            <li>{{ feedback.title }} - {{ feedback.comment }} - {{ feedback.latitude }} - {{ feedback.longitude }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет ни одного воспоминания</p>
    {% endif %}
{% endblock %}